################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test-mysql-connection/bin
/test-mysql-connection/obj
